@font-face {
font-family: Trebuchet MS;
src: url(font/trebuc.ttf) format("opentype");
}
body {
font-family: 'Trebuchet MS';
padding-top: 20px;
padding-bottom: 60px;
background-image: url('../img/fondo.jpg');
background-position: fixed;
}

#logo{
	background-image: url('../img/logo-v3.png');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 150px;
	height: 150px;

}
#header{
	-moz-border-radius-topleft: 15px;
	-webkit-border-top-left-radius: 15px;
	 border-top-left-radius: 15px;
	-moz-border-radius-topright: 15px;
	-webkit-border-top-right-radius: 15px;
	border-top-right-radius: 15px;
	-webkit-box-shadow: 0px 0px 10px rgba(58, 51, 21, 0.3);
	-moz-box-shadow:    0px 0px 10px rgba(58, 51, 21, 0.3);
	box-shadow:         0px 0px 10px rgba(58, 51, 21, 0.3);
	background: url(../img/fondo-azul-noise.png);
	padding-top: 20px;
	padding-bottom: 20px;
	border-style: solid;
	border-width: 0px 0px 14px;
	-moz-border-image: url(../img/border.png) 27 repeat;
	-webkit-border-image: url(../img/border.png) 27 repeat;
	-o-border-image: url(../img/border.png) 27 repeat;
	border-image: url(../img/border.png) 27 fill repeat;
	margin-bottom: 30px;
}

#container-content{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-top: 20px;
	padding-bottom: 20px;
	/*color: white;
	background: url(../img/fondo-rojo-noise.png);
	background-color: #fff6cf;
	padding-top: 20px;
	padding-bottom: 20px;
	border-style: solid;
	border-width: 14px 0px 14px;
	-moz-border-image: url(../img/border-without-shadow.png) 27 repeat;
	-webkit-border-image: url(../img/border-without-shadow.png) 27 repeat;
	-o-border-image: url(../img/border-without-shadow.png) 27 repeat;
	border-image: url(../img/border-without-shadow.png) 27 fill repeat;
	*/
}

/* Custom container */
.container {
margin: 0 auto;
max-width:1000px;
}
.container > hr {
margin: 30px 0;
}

p{
	text-align : justify;
}

#fix-image{
	margin-top: 60px;
}
.menu-fijo{
	position: fixed;
	top: 100;
	left: 100;
	width: 150px;
	z-index: 1020;
}
.menu-fijo-desplazado{
	position: fixed;
	top: 0;
	left: 100;
	width: 150px;
	z-index: 1020;

}
.menu-fijo-abajo{
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	display: inline;
	width: 150px;
	z-index: 1020;
}

#menu-active principal{
	background-color: black;
}
.slide-main{

background: rgb(255,255,255); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 72%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(72%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 72%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 72%,rgba(229,229,229,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 72%,rgba(229,229,229,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 72%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	width: 100%;
	position: relative;
-webkit-box-shadow: 0px 0px 20px rgba(58, 51, 21, 0.75);
-moz-box-shadow:    0px 0px 20px rgba(58, 51, 21, 0.75);
box-shadow:         0px 0px 20px rgba(58, 51, 21, 0.75);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border:1px solid #f2f2f2;
	padding: 20px; 
}
#container-contenido{
	margin-top: 50px;
}
/* Custom container */
.container {
margin: 0 auto;
max-width:1000px;
}
.container > hr {
margin: 30px 0;
}

/* my own menu */
.navigation {
	margin: 50px;
	background: #fff;
	width: 100%;
	list-style-type: none;
}
 
/*
  Asignamos los estilos necesarios para nuestro link.
*/
 
.navigation li a {
	display:block;
	color: #000000;
	text-decoration: none;
	padding: 10px 30px 10px 15px;
}
 
/*
  Propiedades para cada ítem de nuestro menú.
  En este punto es donde ponemos las transiciones que queremos, para cuando
  pase de un estado a otro este sea animado.
  transition: all 0.3s ease-in; - Con esta propiedad asignamos a que tipo de
  propiedades les va afectar la animación, su duración y el tipo de efecto
  que van a tener.
  Debido a que cada browser posee su propio estandar, solo hay que agregar
  el prefijo de cada uno de ellos, ejemplo:
  -webkit-transition   -moz-transition   -o-transition
*/
 
.navigation li {
	box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.2);
	width: 23%;
	border-left: 5px solid #666;
	float: left;
	cursor: pointer;
	padding: 0px;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #c1001f;
}
 
/*
  Damos estilo al titulo de nuestro link
*/
 
.navigation li h2 {
	font-family: georgia;
	font-weight: normal;
	font-style: italic;
	font-size: 14px;
	margin-bottom: 5px;
	line-height: 16px;
	color: white;
}
 
/*
  Damos estilo a la descripción de nuestro link
*/
 
.navigation li p {
	font-size: 11px;
	color: white;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
}
 
/*
  A partir de aqui, asignamos el "HOVER" a cada ítem de nuestra lista, este
  es el que nos brindara el efecto en el momento que inicie la transición.
*/
 
.navigation li:hover {
	background: white;
	border-left: 5px solid #000;
}
 
.navigation li:hover h2 {
	font-weight: bold;
	color: black;
}
 
.navigation li:hover p {
	color: black;
	padding-left: 5px;
}

.footer{
	margin-top: 20px;
	padding-top: 10px;
	background: url(../img/fondo-rojo-noise.png);
	border-top: 1px solid #eeeeee;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-bottom-right-radius: 15px;
	border-bottom-right-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	-webkit-border-bottom-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-style: solid;
	border-width: 14px 0px 0px;
	-moz-border-image: url(../img/border-rojo.png) 27 repeat;
	-webkit-border-image: url(../img/border-rojo.png) 27 repeat;
	-o-border-image: url(../img/border-rojo.png) 27 repeat;
	border-image: url(../img/border-rojo.png) 27 fill repeat;
}
.footer{
	color: white;
}
#link-icon-fb{
	color: #3b5998;
}
#link-icon-fb:hover{
	color: #00204e;
}
#link-icon-tw{
	color: #00c5f9;
}
#link-icon-tw:hover{
	color: #00a0df;
}
#loading-image{
	display: none;
}
#alert-result{
	display: none;
}

.box-facebook{
	width: 350px;
	height: 300px;
	background-color: #3b5998;
	position: fixed;
	top: 100;
	z-index: 1020;
	padding: 10px;
	border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 0px solid #000000;
}

.box-inside-facebook{
	background-color: #fff;
	width: 100%;
	height: 100%;
	border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 0px solid #000000;
padding: 10px;
}

#container-footer{
	background-color: white;
	color: black;
	width: 95%;
	padding-top: 15px;
	padding-left: 15px;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 0px solid #000000;
}

.menu-bottom{
	border-left:1px solid #ccc;
}
